In [26]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_excel('Analytic_test.xlsx', header=1, index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   HID                    100000 non-null  object
 1   active_Red             100000 non-null  float64
 2   has_Green_id           100000 non-null  float64
 3   has_Black_id           100000 non-null  float64
 4   has_Blue_id            100000 non-null  float64
 5   Blue_activity_count    100000 non-null  object
 6   Blue_gmv_total         99999 non-null   float64
 7   Green_gvm_total        100000 non-null  float64
 8   Green_gvm_order_count  100000 non-null  object
 9   Black_gvm_total        100000 non-null  float64
 10  Black_gvm_order_count  100000 non-null  object
 11  Red_android            100000 non-null  float64
 12  Green_android          100000 non-null  float64
 13  Black_android          100000 non-null  float64
 14  Blue_android           100000 non-null  float64
 15  Red_apple              100000 non-null  float64
 16  Green_apple            100000 non-null  float64
 17  Black_apple            100000 non-null  float64
 18  Blue_apple             100000 non-null  float64
 19  is_msk                 100000 non-null  float64
 20  Red_web                100000 non-null  float64
 21  Green_web              100000 non-null  float64
 22  Black_web              100000 non-null  float64
 23  Blue_web               100000 non-null  float64
dtypes: float64(20), object(4)
memory usage: 19.1+ MB

In [10]:
info_colomns = {}
for col in df.columns:
    info_colomns[col] = df[col].nunique()
pd.Series(info_colomns)

HID                      100000
active_Red                    2
has_Green_id                  3
has_Black_id                  3
has_Blue_id                   5
Blue_activity_count          69
Blue_gmv_total              243
Green_gvm_total             683
Green_gvm_order_count        71
Black_gvm_total             913
Black_gvm_order_count        39
Red_android                   2
Green_android                 2
Black_android                 2
Blue_android                  2
Red_apple                     2
Green_apple                   2
Black_apple                   2
Blue_apple                    2
is_msk                        2
Red_web                       2
Green_web                     2
Black_web                     2
Blue_web                      2
dtype: int64

In [16]:
pd.set_option('display.max_columns', None)
df.head()

,HID,active_Red,has_Green_id,has_Black_id,has_Blue_id,Blue_activity_count,Blue_gmv_total,Green_gvm_total,Green_gvm_order_count,Black_gvm_total,Black_gvm_order_count,Red_android,Green_android,Black_android,Blue_android,Red_apple,Green_apple,Black_apple,Blue_apple,is_msk,Red_web,Green_web,Black_web,Blue_web
0,00003c7fb5e57ce673f1801f3679f5c25,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00006b602533083e3bebfcbff08613931,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0000736c3f76339196cb1cc759b8363b,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00009bdcc5307b38efde8690b8bd658e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0000bc3186b7b31d9b35d3fbbb250b9f8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
def _search(x):
    try:
        x = int(float(x))
    except TypeError:
        return np.nan
    except ValueError:
        return np.nan
    return x

for col in list(df.columns)[1:]:
    df[col] = df[col].apply(_search)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   HID                    100000 non-null  object
 1   active_Red             100000 non-null  int64
 2   has_Green_id           100000 non-null  int64
 3   has_Black_id           100000 non-null  int64
 4   has_Blue_id            100000 non-null  int64
 5   Blue_activity_count    99993 non-null   float64
 6   Blue_gmv_total         99999 non-null   float64
 7   Green_gvm_total        100000 non-null  int64
 8   Green_gvm_order_count  99997 non-null   float64
 9   Black_gvm_total        100000 non-null  int64
 10  Black_gvm_order_count  99997 non-null   float64
 11  Red_android            100000 non-null  int64
 12  Green_android          100000 non-null  int64
 13  Black_android          100000 non-null  int64
 14  Blue_android           100000 non-null  int64
 15  Red_apple              100000 non-null  int64
 16  Green_apple            100000 non-null  int64
 17  Black_apple            100000 non-null  int64
 18  Blue_apple             100000 non-null  int64
 19  is_msk                 100000 non-null  int64
 20  Red_web                100000 non-null  int64
 21  Green_web              100000 non-null  int64
 22  Black_web              100000 non-null  int64
 23  Blue_web               100000 non-null  int64
dtypes: float64(4), int64(19), object(1)
memory usage: 19.1+ MB

In [33]:
df = df.dropna()
for col in list(df.columns)[1:]:
    df[col] = df[col].apply(_search)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99986 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   HID                    99986 non-null  object
 1   active_Red             99986 non-null  int64
 2   has_Green_id           99986 non-null  int64
 3   has_Black_id           99986 non-null  int64
 4   has_Blue_id            99986 non-null  int64
 5   Blue_activity_count    99986 non-null  int64
 6   Blue_gmv_total         99986 non-null  int64
 7   Green_gvm_total        99986 non-null  int64
 8   Green_gvm_order_count  99986 non-null  int64
 9   Black_gvm_total        99986 non-null  int64
 10  Black_gvm_order_count  99986 non-null  int64
 11  Red_android            99986 non-null  int64
 12  Green_android          99986 non-null  int64
 13  Black_android          99986 non-null  int64
 14  Blue_android           99986 non-null  int64
 15  Red_apple              99986 non-null  int64
 16  Green_apple            99986 non-null  int64
 17  Black_apple            99986 non-null  int64
 18  Blue_apple             99986 non-null  int64
 19  is_msk                 99986 non-null  int64
 20  Red_web                99986 non-null  int64
 21  Green_web              99986 non-null  int64
 22  Black_web              99986 non-null  int64
 23  Blue_web               99986 non-null  int64
dtypes: int64(23), object(1)
memory usage: 19.1+ MB